<div class="detail-container container">
  <div *ngIf='selectedStrain' class="tab-container">
    <ul class="tabs">
      <li class="tab col s3"><a href="#details">Details</a></li>
      <li class="tab col s3"><a href="#flav-eff">Effects and Flavors</a></li>
      <li class="tab col s3"><a href="#company">Seed Company</a></li>
    </ul>

    <div id="details" class="col s12 card">
      <div class="card-content">
        <div class="row">
          <div class="col s6" id='details-q1'>
            <div class="">
              <h2>{{ selectedStrain.name }}</h2>
              <h5>UCPC: {{ selectedStrain.ucpc }}</h5>
              <small><a target='_blank' href="https://developers.cannabisreports.com/docs/ucpc-universal-cannabis-product-code">What is this?</a></small>
            </div>
          </div>
          <div class="col s6 center-align" id='details-q2'>
            <img src="{{ selectedStrain.image }}" class="circle main-image"/>
          </div>
        </div>
        <h6>{{ selectedStrain.genetics.names }}</h6>
        <h5>Lineage tracing back to:</h5>
        <p *ngFor='let country of selectedStrain.geography.countries'>{{ country }}</p>
      </div>
    </div>

    <div id="flav-eff" class="col s12 card">
      <div class="row card-content">
        <div class="col m6" style='display: block'>
          <canvas baseChart
                  [data]='effectsChartData'
                  [labels]='effectsChartLabels'
                  [legend]='true'
                  [chartType]='"polarArea"'></canvas>
        </div>
        <div class="col m6">
          <canvas baseChart
                  [data]='flavorsChartData'
                  [labels]='flavorsChartLabels'
                  [legend]='true'
                  [chartType]='"polarArea"'></canvas>
        </div>
      </div>

    </div>

    <div id="company" class="col s12 card">
      Seed company works!
    </div>
  </div>
</div>
